# Project exclude paths
/.gradle/
/fuck-client/build/
/fuck-client/build/classes/java/main/
/fuck-server/build/
/fuck-server/build/classes/java/main/
/grpc-lib/build/
/grpc-lib/build/classes/java/main/